<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../../static/css/styles.css">
    <title>Lista de Clientes</title>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{clientes/new}" class="btn btn-primary btn-sm mb3">Nuevo cliente</a>
            </div>
        </div>
        
        <br>
        <form th:action="@{/clientes/buscar}">
            <label for="">Buscar por id</label><br>
            <input type="text" name="id" id="" placeholder="id" required>
            <input type="submit" value="Buscar Cliente">
            <input type="submit" value="Ver productos del Cliente" th:formaction="@{/productos/buscar}">
        </form>
        <br>    
        <form th:action="@{/clientes/buscar}">
            <label for="">Buscar por nombre y apellido</label><br>
            <input type="text" name="name" id="" placeholder="nombre" required>
            <input type="text" name="lastName" id="" placeholder="apellido" required>
            <input type="submit" value="Buscar Cliente">
            <input type="submit" value="Ver productos del Cliente" th:formaction="@{/productos/buscar}">
        </form>
        <br>
        <table class="table">
            <h1 class="text-center">Clientes</h1><br>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="client:${clientes}"> 
                    <td th:text="${client.id}"></td>
                    <td th:text="${client.nombre}"></td>
                    <td th:text="${client.apellido}"></td>
                    <td>
                        <a th:href="@{/productos/buscar?id={id}(id=${client.id})}" class="btn btn-success" href="#">Ver Productos</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="pages">
            <div class="page-item" th:each="page : ${pages}">
                <a href="" class="page-link" th:href="@{|/?page=${page}|}" th:text="${page}"></a>
            </div>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>
</html>