<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <title>Lista de Cuentas</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/clientes">CRUD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/clientes">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cuentas">Cuentas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prestamos">Prestamos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tarjetas">Tarjetas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container mt-4">
        <table class="table">
            <h1 class="text-center">Cuentas</h1><br>
            <thead>
                <tr>
                    <th>NÚMERO DE CUENTA</th>
                    <th>SALDO</th>
                    <th>CLAVE</th>
                    <th>CLIENTE</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cuenta:${cuentas}"> 
                    <td th:text="${cuenta.id}"></td>
                    <td th:text="${cuenta.saldo}"></td>
                    <td th:text="${cuenta.clave}"></td>
                    <td th:text="${cuenta.cliente.nombre}"></td>
                    <td>
                        <a th:href="@{/cuentas/edit/{id}(id=${cuenta.id})}" class="btn btn-warning" href="#">Edit</a>
                        <a th:href="@{/cuentas/{id}(id=${cuenta.id})}" class="btn btn-danger" href="#">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{cuentas/new}" class="btn btn-primary btn-sm mb3">Nueva cuenta</a>
            </div>
        </div><br><br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>
</html>